[submodule "necrodancer2/WitnessRNG"]
	path = necrodancer2/WitnessRNG
	url = https://github.com/jbzdarkid/WitnessRNG
[submodule "srcom/SpeedrunBot"]
	path = srcom/SpeedrunBot
	url = https://github.com/jbzdarkid/SpeedrunBot
